.nav-wrapper{
  padding-left: 30px;
  padding-right: 50px;
}
.brand-logo img{
  margin-top: 10px;
  height: 40px;
}
nav .brand-logo{
  font-size: 20px;
}
.banner-intro img{

  max-height: 1000px;
}

.marco{
  border-radius: 50%;
  height: 150px;
  border: 8px solid white;
}


.header img{
  height: 70px;
}

body{
  background: url(Images/ignasi_pattern_s.png);
}
.fondo{
  background: url(Images/strange_bullseyes.png);
  padding-top: 30px;
  padding-bottom: 30px;
}
*{
  font-family: Athiti;
}
.pad img{
  margin-top: 30px;
  margin-left: 40px;
  height: 60px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:40px;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.card .card-image .card-title .titulo {
    color: #000;
}
